# dependencies
/node_modules

# production
/dist
/build

# misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# test coverage
/coverage

# OS
Thumbs.db
ehthumbs.db

# next.js
.next
out

# logs
logs
*.log
BananaCliker.zip
BananaCliker.zip
