.character {
  width: 180px;
  height: 180px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 20;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 3px #ffd70088;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  display: block;
}
